<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://goulah.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45c89c45-d76a-4e8b-b8e1-5a945ed9f88e/resourceGroups/Goulah/providers/Microsoft.Web/sites/Goulah</ResourceId>
    <UserName>$Goulah</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://goulah.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>